.content-warp{
  height:100vh;
  display:flex;
  flex-direction:column;
}
@media(min-width:760px){
  .content-warp{
    flex-direction:row;
  }

}

.nav-header{
  height:80px;
  background: #00bcd4;
  flex-shrink:0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color:#fff;

}
.nav-header span{
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding:5px 8px;
  cursor: pointer;
}

.nav-header h3{
  margin: 0;
  font-weight: bolder;

}
.content-main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.nav-footer{
  height:80px;
  flex-shrink:0;
  display: flex;
  align-items: center;
  justify-content: space-around;;
  font-size: 18px;
  background-color: #00bcd4;
  line-height: 18px;
}
.nav-footer span{
  font-size: 24px;
}
.nav-footer a{
  flex-grow: 1;
  color:#fff;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: stretch;
  height:100%;
  padding-top: 12px;

}
.LeftNav{
  display: flex;
  flex-direction: column;
  width:40vw;
  height:100vh;
  background-color: #00bcd4;
}
.LeftNav h3 {
  height:80px;
  border-bottom: 2px solid yellow;
  line-height: 80px;
  text-align: center;
  margin: 0 0;
}
.LeftNav a{
  padding:15px;
  font-size: 18px;
  font-weight: bolder;
  color:#fff;
  text-indent: 5px;
}

.LeftNav a:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
.LeftNav span{
  margin-left: 5px;
}
.home-container{

  display: flex;
  background-image: url('http://odu1wcg68.bkt.clouddn.com/bg.jpg');
  /*background-size: cover;*/
  background-position: 50% 50%;
  width: 100%;

}
.home-over{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}
.home-item{
  color:#fff;
  text-align: center;
  margin: 0 auto;
}
.work-container{
    width:100%;
   display: flex;
   padding: 10px 20px;
   flex-wrap: wrap;
   justify-content:space-between;
   position: relative;

 }
 .work-card{
   width: 96%;
   margin: 10px auto;
   border-radius: 5px;
   position: relative;
   cursor: pointer;
   flex-grow: 0;
 }
@media(min-width:320px){
  .work-card{
       width: 33%;

     }
   .work-text{
     position: absolute;
     bottom:0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.3);
     color:#fff;
     padding-left: 10px;
     border-radius: 0px 0px 5px 5px;

   }
}
